.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.rememberRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button {
    display: flex;
}

.rightHeader {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}